.c-fixed-nav {
    position: fixed;
    width: 16rem;
    background-color: white;
    z-index: 1;
    left: 2rem;
    bottom: 2rem;
    border: solid 1px black;
    border-bottom: solid 2px black;

    /* elements */
    .c-fixed-nav__title {
        border: unset;
        border-bottom: solid 1px black;
        padding: 0.375rem;
    }
    .c-fixed-nav__list-item {
        display: flex;
        justify-content: space-between;
        @extend .c-fixed-nav__title;
    }
    .c-fixed-nav__list-item:last-of-type {
        border: unset;
    }
}

/* modifiers */
.c-fixed-nav--right {
    @extend .c-fixed-nav;
}
