@use "../base";

.c-home {
    @extend .b-container;
    margin-top: 6rem;

    /* elements */
    .c-home__landing {
        display: block;
        margin: 6rem 0;
        grid-column: 1 / span 8;
    }
    .c-home__introduction {
        @extend .b-container--no-margin;
        grid-column: 1 / span 8;
        align-items: center;

        .c-introduction__image {
            height: 48rem;
            grid-column: 1 / span 5;
            object-fit: cover;
            justify-self: stretch;
            transform: translate3d(-4rem, 0, 0);
        }
        .c-introduction__text {
            grid-column: 7 / span 2;
        }
    }
}
