.c-project-links {
    width: 100vw;
    background: transparent;
    position: fixed;
    top: 0;
    padding: 2rem calc((100vw - 79rem) / 2);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1rem;

    /* elements */
    .c-project-links__list-item {
        .t-h6 {
            margin-bottom: 0.75rem;
        }
    }
}
