@font-face {
    font-family: "NeueMontreal-Regular";
    src: url("../assets/fonts/NeueMontreal-Regular.otf") format("opentype");
}

@font-face {
    font-family: "NeueMontreal-Medium";
    src: url("../assets/fonts/NeueMontreal-Medium.otf") format("opentype");
}

@font-face {
    font-family: "NeueMachina-Medium";
    src: url("../assets/fonts/NeueMachina-Medium.otf") format("opentype");
}

@font-face {
    font-family: "NeueMachina-Bold";
    src: url("../assets/fonts/NeueMachina-Bold.otf") format("opentype");
}

.t-h1 {
    font-family: "NeueMontreal-Medium";
    text-transform: uppercase;
    font-size: 12rem;
    transform: translate3d(-0.75rem, 0, 0);
    line-height: 10rem;
    letter-spacing: calc(-4 * 12rem / 100);
}

.t-h2 {
}

.t-h3 {
}

.t-h4 {
    font-family: "NeueMontreal-Medium";
    font-size: 1.5rem;
    line-height: 116%;
}

.t-h5 {
    font-family: "NeueMontreal-Medium";
    font-size: 0.75rem;
    line-height: 0.875rem;
}

.t-h6 {
    font-family: "NeueMontreal-Medium";
    font-size: 0.625rem;
    line-height: 0.75rem;
}

.t-caption-1 {
    font-family: "NeueMachina-Medium";
    text-transform: uppercase;
    font-size: 0.625rem;
    line-height: 1rem;
}

.t-caption-1--bold {
    font-family: "NeueMachina-Bold";
}

.t-caption-2 {
    font-family: "NeueMachina-Medium";
    text-transform: uppercase;
    font-size: 0.5rem;
    line-height: 0.75rem;
}

.t-caption-2--regular {
    font-family: "NeueMachina-Regular";
}

.t-caption-2--bold {
    font-family: "NeueMachina-Bold";
}
