/* temporary styles */
* {
    // outline: solid 1px rgba(255, 0, 0, 0.1);
}

.temporary-grid {
    height: 100vh;
    position: fixed;
    top: 0;
    opacity: 0;
    z-index: 99999;
    pointer-events: none;

    .temporary-grid__cols {
        height: 100vh;
        background-color: #d4c9c966;
        border: solid 1px #d4c9c9;
        border-top: unset;
        border-bottom: unset;
    }
}

.temporary-grid-toggle {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #d4c9c9;
    height: 2rem;
    width: 2rem;
    z-index: 99;
}
